<!DOCTYPE html>
<html>
<head>
  <title>Taski</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <%= image_tag("logos/Notepad_Logo.png", width: '150px') %>
  </div>

  <%= render "shared/nav" %> <!-- accesses shared/_nav.html.erb file and renders that HTML here -->
  <%= render "shared/alerts" %> <!-- access sign in/sign up options -->

<%= yield %>

</body>
</html>
